<style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        background-color: #BEE3B4;
        /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 10px;

        /* vertical centering */
        margin: auto;
        line-height: 30px;
        min-width: 100px;

        /* horizontal centering */
        padding: 0px;

        /* final wholepage aesthetic */
        max-height: 30px;
        margin-left: 30px;

    }

    h3 .next-to-btn {
        margin: auto;
    }

    container {
        padding: 30px;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* Set a specific height */
        min-height: 93vh;
    }

    .display-4 {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }


    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

    body {
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 1.5;
        color: #323232;
        font-size: 15px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
    }

    .heading-title {
        margin-bottom: 20px;
    }

    .top-card {
        display: inline-flex;
        padding-left: 30px;
        padding-right:30px;
    }

    .text-center {
        text-align: center;
    }

    .heading-title h3 {
        letter-spacing: 2px;
        font-weight: normal;
    }

    .p-top-30 {
        padding-top: 20px;
    }

    .half-txt {
        width: 60%;
        margin: 0 auto;
        display: inline-block;
        line-height: 25px;
        color: #7e7e7e;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .flex-wrapper-horizontal {
        display: flex;
        width: 100%;
    }

    .flex-wrapper-vertical {
        display: block;
    }

    .column {
        flex: 50%;
        padding: 10px;
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    .footer {
        padding-bottom: 30px;
    }
</style>